@page "/"

<h1>Manage your Notes</h1>

<p>Where do you put your thoughts, your ideas, or the name of a movie someone recommended?</p> 
<p>Whether inspiration strikes when you're at home or on the go, a note-taking app offers an easy,</p> 
<p>convenient way to store all this information here.</p>